# Gitignore file, when you git add * this will ignore the follow 1;3802;0cfiles which are either 
# unimportant, cumbersome, or unique to everyones computer.

*.pyc
.idea/
db.sqlite3
*.iml
*.xml
migrations/*
migrations
media
media/*
static/media
static/assets/images