body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	padding-top: 70px;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	line-height: 1.4;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th, td {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

Company_table {
	font-size: medium;
}

TabbedPanels {
	font-size: 100%;
}

TabbedPanelsContentGroup {
	font-family:"Comic Sans MS", cursive;
}

MenuTable {
	width: 100%;
	border: 1;
	border-style: solid;
	border-color: black;
	font: medium bold;
}

a img { 
	border: none;
}

a:link {
	color: #333333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
}
a:visited {
	color: #4E5869;
	text-decoration: none;
}
a:hover, a:active, a:focus { 
}


.container {
	width: 100%;
	max-width: 100%;
	min-width: 10%;
	background-color: #FFF;
	margin: 0 auto; 
	overflow: hidden; 
}

.content {
	padding: 10px 0;
	width: 60%;
	float: left;
}


.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

ul.nav {
	background-color: #FFF;
	list-style: none;
	margin-bottom: auto;
	color: #D6D6D6;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #666;
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #6F7D94;
	color: #FFF;
}

.fltrt {  。 */
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
<style type="text/css">
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

*{
    text-decoration: none;
    list-style-type: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.c{
    float:left;
    width:80%;
}

ul.errorlist{
    border-color: indianred;
    border-style: solid;
    border-width: 1px;
    font-weight:700;
}
.header h1{
    font-weight:800;
    font-size: 40px;
    text-decoration: underline;
}

#mast{
    display:block;
    clear:both;
    margin:20px;
    width:100%;
    margin-right: auto;
}

ul#nav li a{
    color:black;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

.page, #mast{
    margin-left:20%;
}
.page *{
    display: block;
}

.page ul{
    width:75%;
}

ul#menu li{
    margin: auto;
    border:none;
}

ul#fiveStar li{
    float:left;
    height:25px;
}

textarea#id_review{
    clear:both;
}

label{
    clear:both;
}
#fiveStar input[type='radio']{
    opacity: 0;
    width:20px;
    cursor:pointer;
}
#fiveStar li, input[type='radio'] + label {
    margin:0;
    clear:none;
    cursor:pointer;
    background: url('/static/assets/images/no-star.png') no-repeat;
}

#fiveStar li:hover, input[type='radio']:checked + label{
    background: url('/static/assets/images/star.png') no-repeat;
}
