<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Menu </title>
    {% load staticfiles %}
    <!-- Import styles and scripts-->
    <link rel="stylesheet" href="{%  static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/custom_style.css' %}">
    <script type="text/javascript" src="{% static 'assets/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/main.js' %}"></script>

</head>

<body>

<p id="demo">Click the button to get your position.</p>

<button onclick="getLocation()">Try It</button>

<div id="mapholder"></div>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    var latlon = position.coords.latitude + "," + position.coords.longitude;

    var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
    +latlon+"&zoom=14&size=400x300&sensor=false";
    document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}
</script>

</body>





<body>
<div class = "container">
    <div class="left nav navbar-header">
        <ul class ="nav navbar nav" id="nav">
            <li> <a href="/"> Home </a></li>
            <li><a href="/">Search</a></li>
        </ul>
    </div>
    <div class="right nav navbar-header">
        <ul class ="nav navbar nav">
            <li><a href="/">Login</a></li>

        </ul>
    </div>
</div>
<div class="container">
    <div id="mast">
        <div class="header">
            <h1> Restaurant Menu Ratings</h1>
        </div>
    </div>
    <div class="page">
        {% block page %}

        {% endblock %}

    </div>
    <div class="footer">
    </div>
</div>
</body>
</html>