<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Menu </title>
    {% load staticfiles %}
    <!-- Import styles and scripts-->
    <link rel="stylesheet" href="{%  static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/custom_style.css' %}">
    <script type="text/javascript" src="{% static 'assets/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/main.js' %}"></script>

</head>

<body>
<div class = "container">
    <div class="left nav navbar-header">
        <ul class ="nav navbar nav" id="nav">
            <li> <a href="/"> Home </a></li>
            <li><a href="/">Search</a></li>
            <li><a href="/menus/">View Menus</a></li>
            <li><a href="/menus/type/">Food Type</a></li>
        </ul>
    </div>
    <div class="right nav navbar-header">
        <ul class ="nav navbar nav">
         <!--   <li><a href="/">Login</a></li>-->

        </ul>
    </div>
<div class="c">
    <div id="mast">
        <div class="header">
            <h1> Restaurant Menu Ratings</h1>
        </div>
    </div>
    <div class="page">
        {% block page %}

        {% endblock %}

    </div>
    <div class="footer">
    </div>
</div>
</div>
</body>
</html>