{% extends 'header.html' %}
{% load staticfiles %}
{% block page %}

<div class ="row">
	<div class="col-lg-3" id="featured" style="border: 2px solid black">
		<h3> Featured: </h3>
		{% if rand_menu %}
		<p>
			{{ rand_menu.menuName }}
		</p>
		<a href="/menus/{{ rand_menu.id }}"><img src="/media/{{rand_menu.logo}}"></a>
		{% if rand_food %}
		{% if rand_rev %}
		<p>
			{{ rand_food.dishName }}
		</p>
		<p>
			<img src="/static/assets/images/{{ rand_food.rating }}.png" alt="{{ rating }}"/>
		</p>
		<p>
			{{ rand_rev.reviewComment }}
		</p>
		{% endif %}
		{% endif %}
		{% else %}
		<p>
			We feature a random Food from a Random Restaurant - Reload the page for a new random food!
		</p>
		{% endif %}
	</div>
	<div class="col-lg-3">
		<p>
			Search for a keyword (Steak, Starbucks, or Beer!)
		</p>
		<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for..." id="search">
						<span class="input-group-btn">
							<button class="btn btn-default getSearch" type="button">
								Search!
							</button> </span>
					</div><!-- /input-group -->

		<p class="alert alert-danger" id="searchWarning"></p>
		<p>
			Or take a look at whats near you.
		</p>

	</div>
	<div class="col-lg-3">
		<!-- Jssor Slider Begin -->
		<!-- To move inline styles to css file/block, please specify a class name for each element. -->
		<div id="slider1_container" style="position: relative; width: 600px; height: 500px; background-color: #000; overflow: hidden; ">

			<!-- Loading Screen -->
			<div u="loading" style="position: absolute; top: 0px; left: 0px;">
				<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
				background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;"></div>
				<div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
				top: 0px; left: 0px;width: 100%;height:100%;"></div>
			</div>

			<!-- Slides Container -->
			<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 600px; height: 500px;
			overflow: hidden;">
				<div>
					<a u=image href="#"><img src="/media/french-fries-.jpg" /></a>
				</div>
				<div>
					<a u=image href="#"><img src="/media/Burger_King_Quad_Stacker_cheeseburger.jpg" /></a>
				</div>
			</div>

			<!--#region Bullet Navigator Skin Begin -->
			<!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
			<style>
				/* jssor slider bullet navigator skin 13 css */
				/*
				 .jssorb13 div           (normal)
				 .jssorb13 div:hover     (normal mouseover)
				 .jssorb13 .av           (active)
				 .jssorb13 .av:hover     (active mouseover)
				 .jssorb13 .dn           (mousedown)
				 */
				.jssorb13 {
					position: absolute;
				}
				.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
					position: absolute;
					/* size of bullet elment */
					width: 21px;
					height: 21px;
					background: url(../img/b13.png) no-repeat;
					overflow: hidden;
					cursor: pointer;
				}
				.jssorb13 div {
					background-position: -5px -5px;
				}
				.jssorb13 div:hover, .jssorb13 .av:hover {
					background-position: -35px -5px;
				}
				.jssorb13 .av {
					background-position: -65px -5px;
				}
				.jssorb13 .dn, .jssorb13 .dn:hover {
					background-position: -95px -5px;
				}
			</style>
			<!-- bullet navigator container -->
			<div u="navigator" class="jssorb13" style="bottom: 16px; right: 6px;">
				<!-- bullet navigator item prototype -->
				<div u="prototype"></div>
			</div>
			<!--#endregion Bullet Navigator Skin End -->
			<a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>
		</div>
		<!-- Jssor Slider End -->
	</div>

</div>

{% endblock %}

{% block map %}

<div class="maps">
	<div id="map-canvas"></div>
</div>

{% endblock %}

