{% extends 'header.html' %}
{% load staticfiles %}
{% block page %}

<div class ="row">
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-3" id="featured" style="border: 2px solid black">
		<h3> Featured: </h3>
		{% if rand_menu %}
		<p>
			{{ rand_menu.menuName }}
		</p>
		<a href="/menus/{{ rand_menu.id }}"><img src="/media/{{rand_menu.logo}}"></a>
		{% if rand_food %}
		{% if rand_rev %}
		<p>
			{{ rand_food.dishName }}
		</p>
		<p>
			<img src="/static/assets/images/{{ rand_food.rating }}.png" alt="{{ rating }}"/>
		</p>
		<p>
			{{ rand_rev.reviewComment }}
		</p>
		{% endif %}
		{% endif %}
		{% else %}
		<p>
			We feature a random Food from a Random Restaurant - Reload the page for a new random food!
		</p>
		{% endif %}
	</div>
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-3">
		<p>
			Search for a keyword (Steak, Starbucks, or Beer!)
			Or take a look at whats near you.
		</p>
		<form class="navbar-form navbar-left navbar-search" role="search">
			<div class="input-group">
				<input type="text" class="form-control search-query" placeholder="Search for..." id ="search">
				<span class="input-group-btn">
					<button class="btn btn-default getSearch" type="button">
						Search
					</button> </span>
			</div><!-- /input-group -->
			<p class="alert alert-danger" id="searchWarning"></p>
		</form>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-3">
		<p>
			Welcome to Rate this Menu Beta!
            </p>
        <p>On this application you can find restaurants and tell us about the quality of their menus.
		</p>
		<p>Use our search tool to find your favorite places. We'll automatically add it or direct you to our Rating System.	</p>
	</div>

</div>

{% endblock %}

{% block map %}

<div class="maps">
	<div id="map-canvas"></div>
</div>

{% endblock %}

