{% extends 'header.html' %}
{% load staticfiles %}
{% block page %}

    <div class ="container">
        <h2> GOOGLE MAPS</h2>
        <h3> Look up a restaurant or a specific food - or just narrow down by a specific type below.</h3>
        <input type="text" id ="search" size="35"> </input> <button id="getSearch"> Search </button>
        <p class="alert alert-danger" id="searchWarning"></p>
    </div>

    <div class="control-group container">


    {% if types %}
        <div class="controls span2">
            {% for t in types %}
                <div class="col-md-3">
                    <label class="checkbox">
                        <input type="checkbox" value="{{ t.id }}"/> {{ t.type }}
                    </label>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    </div>


{% endblock %}
{% block map %}

            <div class="maps">
              <div id="map-canvas"></div>


        </div>
<body>
    <!-- Map container -->
    <div id="map_canvas"></div>
</body>


<div>
<style type="text/css">
        #map-canvas {
        height:500px;
        }
    </style>
    </div>

{% endblock %}