{% extends 'header.html' %}
{% load staticfiles %}
{%  block page %}

    {% if GET %}
        <h2> Search results for</h2>
        <p> "{{ GET }}"</p>
        {% if menu %}
            <h3> Menus </h3>
            {% for m in menu %}
                <div class="row">
					<li class="col-xs-8 col-sm-5 col-md-3 col-lg-3">
						<p>
							<a href="/menus/{{ m.id }}"> <img src="/media/{{ m.thumbnail }}"/></a>
						</p>
						<p>
							<a href="/menus/{{ m.id }}"><h3>{{ m.menuName }}</h3></a>
						</p>
						</li>
					<li class="col-xs-12 col-sm-6 col-md-3 col-lg-9" id="description">
						<p>
							{{ m.description }}
						</p>
					</li>
				</div>
            {% endfor %}
        {% endif %}
        {% if food %}
            <h3> Food </h3>
            {% for k in food %}
                <a href="/menus/food/{{ k.id }}"> {{ k.dishName }}</a>
                <img src=""/>
            {% endfor %}
        {% endif %}
        {% if type %}
            <h3> Types </h3>
            {% for t in type %}
                <a href="/menus/type/{{ t.id }}">{{ t.type }}
                <img src="/media/{{ t.thumbnail }}"> </a>
            {% endfor %}
        {% endif %}
    {% else %}
        <p> Unable to search for empty strings. </p>
    {%  endif %}
{% endblock %}