{% extends 'header.html' %}
{% load staticfiles %}
{%  block page %}

    {% if GET %}
        <h2> Search results for</h2>
        <p> "{{ GET }}"</p>
        {% if menu %}
            <h3> Menus </h3>
            {% for m in menu %}
                <a href="/menus/{{ m.id }}">{{ m.title }}</a>
            {% endfor %}
        {% endif %}
        {% if food %}
            <h3> Food </h3>
            {% for k in food %}
                <a href="/menus/food/{{ k.id }}"> {{ k.dishName }}</a>
            {% endfor %}
        {% endif %}
        {% if type %}
            <h3> Types </h3>
            {% for t in type %}
                <a href="/menus/type/{{ t.id }}">{{ t.type }}</a>
            {% endfor %}
        {% endif %}
    {% else %}
        <p> Unable to search for empty strings. </p>
    {%  endif %}
{% endblock %}