{% extends 'header.html' %}
{% load staticfiles %}
{% block page %}
<div class="container">
	<div class ="row">
		<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
			<h4> Look up a restaurant or a specific food or just narrow down by a specific type below.</h4>
			<div class="input-group">
				<input type="text" class="form-control input-lg" placeholder="Search for..." id ="search">
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg getSearch" type="button">
						Search
					</button></span>
			</div><!-- /input-group -->
			<div id="map-canvas"></div>
			<p class="alert alert-danger" id="searchWarning"></p>
		</div>
		<!-- ARE WE STILL USING THE FUNCTION BELOW? -->
		<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" id="featured">
			<div class="control-group container">
				{% if types %}
				<div class="controls span2">
					{% for t in types %}
					<div class="col-md-3">
						<label class="checkbox">
							<input type="checkbox" value="{{ t.id }}"/>
							{{ t.type }} </label>
					</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!--
{% block map %}

<!-- Map container -->
<!--
<div class="maps">
<div id="map-canvas"></div>
</div>

{% endblock %}-->