*{
    text-decoration: none;
    list-style-type: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.c{
    float:left;
}

ul.errorlist{
    border-color: indianred;
    border-style: solid;
    border-width: 1px;
    font-weight:700;
}
.header h1{
    font-weight:800;
    font-size: 40px;
    text-decoration: underline;
}

#mast{
    display:block;
    clear:both;
    margin:20px;
    width:100%;
    margin-right: auto;
}

ul#nav li a{
    color:black;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

.page, #mast{
    margin-left:20%;
}
.page *{
    display: block;
}

ul#menu li{
    margin: auto;
    border:none;
}